# Lesson 8b: Loops

Today:
1. Loops
    + Understanding the `for` loop
        + Tracing how variables change values during loops
    + Accessing entries of a data frame using loops
2. Application to classification

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

## 1. Loops

### 1.1. Understanding `for` loops

To repeat TASK for each VALUE in the list LIST

    for( VALUE in LIST ):
        TASKS

**Example**

Suppose we want to display the text:  

"1 squared is 1"

"2 squared is 4"

... up to

"20 squared is 400"

### Activity

Suppose we want to display the text:  

"1 cubed is 1"

"2 cubed is 8"

"3 cubed is 27"

... up to

"20 cubed is 8000"

**Write a while loop that accomplishes this task.**

### Activity

Suppose we want to display the text:  

"1 cubed is 1"

"3 cubed is 27"

"5 cubed is 125"

... up to

"25 cubed is 15625"

**Write a while loop that accomplishes this task.**

**Example**

Recall our `calculate_bill()` function from Lesson 8, reproduced below.

In [ ]:
def calculate_bill( orders, tip_percent ):
    
    subtotal = sum( orders )
    
    tip = subtotal * tip_percent
    tax = subtotal * 0.08875
    
    total = subtotal + tip + tax
    
    return( total )

Suppose that we would like to compute possible bills for a few different tip percentages, from 10\%, 11%, 12%, ..., to 25\%, if we order the following items:
+ an \$7 appetizer
+ a \$15 entree
+ a \$17 entree
+ two \$6 beverages.

### 1.2. Accessing entries of a data frame during loops

Suppose that we would like to store the values that we computed during loops into a table.

**Example**

Create a data frame called `squares` which has 20 rows and 2 columns:

<table>
    <tr>
        <th>n</th>
        <th>n_squared</th>
    </tr>    
    <tr>
        <td>1</td>
        <td>1</td>
    </tr>    
    <tr>
        <td>2</td>
        <td>4</td>
    </tr>    
    <tr>
        <td>3</td>
        <td>9</td>
    </tr>    
    <tr>
        <td>...</td>
        <td>...</td>
    </tr>    
    <tr>
        <td>19</td>
        <td>361</td>
    </tr>
    <tr>
        <td>20</td>
        <td>400</td>
    </tr>
</table>

In [ ]:
squares

# fill in the empty data frame row by row

In [ ]:
# note: the above can be done without a for loop
#  using a method we learned earlier in the semester







# so why did we use a for loop?  
#  There are similar tasks that cannot be done using this more straightforward method
#   See the next example

**Activity**

Last class, we defined a new function called `my_function2`, which
+ takes three numbers as inputs: `a`, `b`, `c`, and
+ if `a` is strictly greater than zero, then it returns as an output `b + c`;
+ otherwise, if `a` is zero or negative, then it returns as an output `b - c`.

We want to record the outputs of `my_function2` for various values of a, b, and c in the data frame called `records` below:

<table>
    <tr>
        <th>a</th>
        <th>b</th>
        <th>c</th>
        <th>output</th>
    </tr>
    <tr>
        <td>3</td>
        <td>1</td>
        <td>3</td>
        <td> </td>
    </tr>
    <tr>
        <td>-2</td>
        <td>10</td>
        <td>3</td>
        <td> </td>
    </tr>
    <tr>
        <td>1</td>
        <td>4</td>
        <td>9</td>
        <td> </td>
    </tr>
    <tr>
        <td>0</td>
        <td>4</td>
        <td>8</td>
        <td> </td>
    </tr>
</table>

In [ ]:
# do not modify this cell

records = pd.DataFrame( {'a': [3, -2, 1, 0],
                         'b': [1, 10, 4, 4],
                         'c': [3, 3, 9, 8],
                         'output': [0, 0, 0, 0]} )
records

In [ ]:
# copy and paste from lesson 8
def my_function2 ( a, b, c ):
    if( a > 0 ):
        output = b + c
    else:
        output = b - c
    return(output)

In [ ]:
# filling in the output column in the records data frame "by hand" / row by row
## this is fine because we have only four rows!
## we probably don't want to do this if we have hundreds of rows

In [ ]:
# do not modify this cell

records = pd.DataFrame( {'a': [3, -2, 1, 0],
                         'b': [1, 10, 4, 4],
                         'c': [3, 3, 9, 8],
                         'output': [0, 0, 0, 0]} )
records

**Example**

Suppose that we would like to compute possible bills for a few different tip percentages, from 10\%, 11%, 12%, ..., to 25\%, if we order the following items:
+ an \$7 appetizer
+ a \$15 entree
+ a \$17 entree
+ two \$6 beverage.

We would like to create a data frame with 2 columns and one row for each possible tip percentages.  The first column is the tip percentage itself and the second column is the total bill:

<table>
    <tr>
        <th>tip_percentage</th>
        <th>total</th>
    </tr>    
    <tr>
        <td>10</td>
        <td>60.62625</td>
    </tr>    
    <tr>
        <td>11</td>
        <td>61.64625</td>
    </tr>    
    <tr>
        <td>12</td>
        <td>62.15625</td>
    </tr>    
    <tr>
        <td>...</td>
        <td>...</td>
    </tr>
    <tr>
        <td>24</td>
        <td>67.76625</td>
    </tr>
    <tr>
        <td>25</td>
        <td>68.27625</td>
    </tr>
</table>

**Exercise**

We defined a new function called `compund_interest()` which takes three inputs
+ `initial_deposit`: the amount you deposited in the savings account
+ `interest_rate`: the annual interest rate of the account (in decimal)
+ `num_years`: the number of years the initial deposit stays in the account

and ouputs/returns the total amount in the savings ccount after the specified number of years.  (The function definition is included in the code cell below.)

Suppose that you invested 1000 dollars in a savings account that has a 2% annual interest rate that is added annually.

Create a data frame called `account` which has 
+ two columns: `num_years` and `amount`; the `amount` column will store the amount in the account for the given number of years, from year 0 to year 30.

<table>
    <tr>
        <th>num_years</th>
        <th>amount</th>
    </tr>    
    <tr>
        <td>0</td>
        <td>1000</td>
    </tr>    
    <tr>
        <td>1</td>
        <td>1020</td>
    </tr>    
    <tr>
        <td>2</td>
        <td>1040.4</td>
    </tr>    
    <tr>
        <td>...</td>
        <td>...</td>
    </tr>
    <tr>
        <td>29</td>
        <td>1775.84469029741 </td>
    </tr>
    <tr>
        <td>30</td>
        <td>1811.36158410335</td>
    </tr>
</table>

## 2. Application to classification

We have created a function called `predict_tumor_class()`:

`OUTPUT = predict_tumor_class( INPUT1, INPUT2 )`

where
+ INPUT1 = clump thickness value
+ INPUT2 = marginal adhesion value
+ OUTPUT = the prediction that your decision tree classifier makes for the given values of INPUT1 and INPUT2

Recall that our classifier was constructed based on our observation of the training dataset.
+ The original cancer dataset has 638 rows.
+ We take the first 300 for our training dataset and the last 383 for our test dataset

In [ ]:
cancerdata = pd.read_csv('../../shared/datasets/cancer.csv')
cancerdata.shape

# as we did in lesson 6, split into training and test datasets:
#      split the cancer dataset into two: training data and test data 
X = cancerdata.iloc[ :  ,  1:10  ]
Y = cancerdata['Class']

from sklearn.model_selection import train_test_split

X_train, X_test,  Y_train, Y_test = train_test_split( X, Y, test_size = 0.3 , random_state = 1110 )

# explore the training dataset

# combine X_train and Y_train into one dataset 
#  concatenate the Y_train dataset as another column on X_train
training_data = pd.concat( [ X_train, Y_train ], axis = 1  )

training_data.head()

In [ ]:
# here is the classifier from Lesson 8 (copy and paste)

In [ ]:
# check that the function was defined correctly 
#  by using that function for some arbitrary input numbers

In [ ]:
# predict the class of the first four rows of the test dataset,

In [ ]:
# create an empty data frame, 1 column, ...  rows